* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #080f3f;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04071f;
}
body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.logo {
  letter-spacing: 0.01em;
  font-weight: 500;
  font-style: italic;
}
.main-color {
  color: #0b165f;
}
.s-color {
  color: #ff9224;
}

.arrow {
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #cf8808;
  border-left: 10px solid transparent;
}
.shadw {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.chartBox {
  width: 700px;
  padding: 200px !important;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: #04071f !important;
}
.collapes {
  height: 250px !important;
  overflow: hidden !important;
}
.tex {
  font-size: 11px !important;
}


  .checkbox-wrapper-51 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-51 .toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-51 .toggle:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    display: block;
    background: #c8ccd4;
    border-radius: 12px;
    transition: background 0.2s ease;
  }
  .checkbox-wrapper-51 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154,153,153,0.75);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-51 .toggle span svg {
    margin: 7px;
    fill: none;
  }
  .checkbox-wrapper-51 .toggle span svg path {
    stroke: #c8ccd4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 0;
    transition: all 0.5s linear;
  }
  .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
    background: #52d66b;
  }
  .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
    transform: translateX(18px);
  }
  .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
    stroke: #52d66b;
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
  }



 
  .btn {

    background-image: radial-gradient(100% 100% at 100% 0, #ff9224 100%);
 border:0;
    box-shadow: rgba(45, 35, 66, .1) 0 2px 4px,rgba(45, 35, 66, .2) 0 7px 13px -3px,rgba(58, 65, 111, .1) 0 -2px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    border-radius: 0px;
  }
  
  .btn:focus {
    box-shadow: #ff9224 0 0 0 1.5px inset, rgba(45, 35, 66, .2) 0 2px 4px, rgba(45, 35, 66, .1) 0 7px 13px -3px, #ff9224 0 -3px 0 inset;
  }
  
  .btn:hover {
    box-shadow: rgba(45, 35, 66, .2) 0 4px 8px, rgba(45, 35, 66, .1) 0 7px 13px -3px, #ff9224 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn:active {
    box-shadow: #ff9224 0 3px 7px inset;
    transform: translateY(2px);
  }
/* ------------------------------------------------- */

.slist .li{
  border: 2px dashed transparent;
  cursor: move;
  /* touch-action: none; */
}

.slist .li.hint {
  border: 2px dashed #cfa310;
  background: white;
 
}
.slist .li.active {
  border: 2px dashed red;
  background: white;
}
canvas{
  cursor: pointer;
}
.hidden{
  display: none;
}

  

